.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
}

.store-name {
  font-size: 18px;
  min-width: 100px;
  display: flex;
  align-items: center;
}

.store-name svg {
  display: flex;
  margin-right: 5px;
}

.store-name .store-name-skeleton {
  display: flex;
  flex-grow: 1;
  width: 100px;
}

.MuiCard-root.same-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty-state svg {
  margin: auto;
  margin-bottom: 0px;
  font-size: 90px;
  color: #ccc;
}
.empty-state h3 {
  margin: 8px 0px;
  text-align: center;
  font-weight: normal;
}
.empty-state p {
  font-size: 14px;
  margin: 0px;
  color: #999;
  text-align: center;
}

.empty-state .empty-state-icon {
  text-align: center;
}
